.contact {
  justify-content: space-around;
  .box {
    width: 45%;
    @media (max-width: $bp-sm) {
      width: 98%;
    }
  }
  .box-content {
    text-align: center;
  }
  a {
    color: invert($text-color);
    text-decoration: none;
  }
}
.fieldset {
  &-title {
    text-align: center;
  }
  &-content {
    max-height: 55vh;
    overflow-y: scroll;
    @media (min-height: $bp-sm) {
      max-height: 70vh;
    }
  }
}
@for $i from 1 through 4 {
  .contact {
    .box:nth-child(#{$i}) {
      .box-title:before {
        position: absolute;
        top: 50%;
        left: 5px;
        content: '';
        transform: translateY(-50%);
        @extend .icon;
        @extend .icon-brand#{$i};
      }
    }
  }
}