// Body
$body-bg: #1a1a1a url('../images/bg-main.jpeg');

// Typography
$font-family: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: rgba(255, 255, 255, .87);

// Header
$site-header-bg: #000;

// Boxes
$box-bg: #fafafa;

// Buttons
$btn-default-color: $text-color;

// Active Elements
$active-element-bg: $box-bg;
$active-element-color: $site-header-bg;

// Breakpoints
$bp-lg: 1200px;
$bp-md: 992px;
$bp-sm: 768px;
$bp-xsm: 480px;